$tiempoDeTransicion1:0.3s;
$espacioEntreFilas:25px;
$resetPadding:0;
$bordeRedondoLeft:8px 0 0 8px;
$bordeRedondoRight:0 8px 8px 0;
$bordeRedondoTop:8px 8px 0px 0px;
$bordeRedondoBot:0px 0px 8px 8px;
$hoverScale:scale(1.025,1.025);
$paddingTitulosMobil:18px 0;
$marginTopFooter:2.5rem;

/*---------------------------------------------------BOOTRSTRAP CONTAINER -----------------------------------------*/

/* soluccion para el overflow en x (error de la librera aos para los fade left y fade right en dispositivos mobil */
@media only screen and (max-width:800px){
    .container{
        width:95%;
        overflow-x: hidden;
        overflow-y: hidden;
        .row{
            margin-left:auto;
            margin-right:auto;
            margin-top:10px;
            margin-bottom:10px;
        }   
    }
   
}



body{
    overflow-x: hidden;
}


/* ------------------HEADER-----------------------------------------*/

header{
    
    .row{
        div{
            padding:$resetPadding;
            nav{
                a{
                    transition:all $tiempoDeTransicion1;
                }
                a:hover{
                    transform: $hoverScale;
                }
                div{
                    ul{
                        li{
                            .header__row__div__nav__div__ul__li__nav-link--icon{
                                padding-top:6px;
                                margin-right:16px;
                            }
                        }
                    }
                    form{
                        /* modificar el minimo para que no ocupe todo el ancho en dispositivos mas chicos que small - modificado en la clase de bootstrap*/
                        .mr-sm-2{
                            max-width: 200px;
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }
    }
    
}

 /* SECCIONES DEL INDEX */

 .container--seccionIndex{
    @media only screen and (max-width:991px){
        display:flex;
        justify-content: center;
    }
 }
 .container{
    
    
    .container__row--margin{
        margin-top:$espacioEntreFilas;
        margin-bottom:($espacioEntreFilas);
        @media only screen and (max-width:991px){
            max-width:665px;
        }

        .container__row__col--margin{
            padding:$resetPadding;
            border-radius: $bordeRedondoLeft;
           
        }

        @media only screen and (max-width:991px) {
            .container__row__col--margin{
                border-radius: $bordeRedondoTop;
                a{
                    .container__row__col__a__div--margin{
                        padding:$paddingTitulosMobil;
                    }
                  
                }
                
            }
            
        }
        /* COLUMNA DE BUZOS */
        
        .container__row__col--margin1{
            border-radius:$bordeRedondoRight;
            a{
                
                .container__row__col__a__div--margin{
                    padding:$paddingTitulosMobil;
                }
            }
        }
        @media only screen and (max-width:991px) {
            .container__row__col--margin1{
                border-radius: $bordeRedondoBot; 
            }
            
        }
        .container__row__col--position{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
                a{
                    .container__row__col__a__div__title--position{
                        text-align: center;
                        display:inline-block;
                        transition:all $tiempoDeTransicion1;
                    }
                    .container__row__col__a__div__title--position:hover{
                        transform:translate(10px, 10px);
                    }
                    .container__row__col__a__div__p--position{
                        text-align: center;
                        transform:translate(10px, 10px);
                    }
                }
        }   
        
    }
}

/* CUADRADOS DEL INDEX */

/* mixin para posicionar elementos dentro del cuadrado*/
@mixin posicionElementosCuadrado($top , $left){
    position:absolute;
    top:$top;
    left:$left;
    transform:translate(-50%, -50%);
}
.cuadrados{
    .container__rowCuadrados{
        
        .cuadrados__row__col--margin{
            
            padding:7px;
            
             
            
            .cuadrados__row__div__div--position{
                position:relative;
                display:inline-block;
                text-align: center;
                justify-content: center;
                
                transition:$tiempoDeTransicion1;
            
                
                    .cuadrados__row__div__div__h4--position{
                        
                        @include posicionElementosCuadrado(20%,50%);
                       
                                              
                    }
                    .cuadrados__row__div__div__span--position{
                        @include posicionElementosCuadrado(45%,50%);
                          
                    }
                    .cuadrados__row__div__div__texto--position{
                        @include posicionElementosCuadrado(81%,50%);
                        
                    }
                    .cuadrados__row__div__div__texto1--position{
                        @include posicionElementosCuadrado(63%,50%);
                        
                    }
                    @media only screen and (max-width:575px){
                        .cuadrados__row__div__div__h4--position{
                        
                            @include posicionElementosCuadrado(30%,50%)
                           
                                                  
                        }
                        .cuadrados__row__div__div__span--position{
                            @include posicionElementosCuadrado(70%,50%)
                              
                        }
                        .cuadrados__row__div__div__texto--position{
                            display:none;
                            
                        }
                        .cuadrados__row__div__div__texto1--position{
                            display:none;
                            
                        }   

                    }
                    
            }
            .cuadrados__row__div__div--position:hover{
                transform:$hoverScale;
                ;
            }
        }
    }
}
/* FOOTER */
.footer{
   margin-top:$marginTopFooter;
    .row{
       
        div{
            display:flex;
            justify-content: center;
            ul{
                margin-top:1rem;
                margin-bottom:0;
                padding:0;
                text-align: center;
                
                li{
                    /*PLACEHOLDER DEL NEWSLETTER DEL FOOTER */
                    form{
                        div{
                            .form-control{
                                text-align: center;
                            }
                            .form-control::placeholder{
                                text-align: center;
                            }
                        }
                    }
                    a{
                        .footer__row__div__ul__li__a__icon{
                            transition:all $tiempoDeTransicion1;
                        }
                        .footer__row__div__ul__li__a__icon:hover{
                            transform: $hoverScale;
                        }

                    }
                    
                }
                
            }
        }
       
    }
    
}




/* cards de productos - nuevos.html */ 

.container{
    .row{
        div{
            .card{
                margin-top:$espacioEntreFilas;
            }
        }
    }
}
/* SECCION DE CONTACTO - contacto.html*/
.contacto{
    border-radius:$bordeRedondoBot;
    padding:$resetPadding;
    .row.contacto__row--margin{
        margin-bottom: $espacioEntreFilas;
        
        div{
            div{
                .contacto__row__div__div__iframe--ancho{
                    min-height: 259px;
                }
            }
            .contacto__row__div__infoContacto{
                padding:20px;
                border-radius:$bordeRedondoLeft;
            }
            @media only screen and (max-width:991px) {
                .contacto__row__div__infoContacto{
                    
                    border-radius:$bordeRedondoTop;
                }
                
            }
        }
        div{
            .contacto__row__div__form{
                padding:20px;
                border-radius:$bordeRedondoRight;
                div{
                    input:focus{
                        font-size:24px;
                    }
                    textarea:focus{
                        font-size:24px;
                    }
                }
            }
            
            @media only screen and (max-width:991px) {
                .contacto__row__div__form{
                    
                    border-radius:$bordeRedondoBot;
                }
                
            }
        }
    }
}


/* seccion NOSOTROS */

.nosotros{
    .row.nosotros__row{
        display:flex;
        justify-content: center;
        margin-top:$espacioEntreFilas;
        border-radius:$bordeRedondoTop;
        .nosotros__row__div{
            padding: $paddingTitulosMobil;
            .nosotros__row__div__titulo{
                text-align:center;
            }
            .nosotros__row__div__p{
                text-align:center
            }
        }
    }
    .nosotros__textoNosotros{
        padding: 8% 19.9%;
    }
    
    .nosotros__row--parallax{
        /* The image used */

        background-image: url("../assets/img/imagenNosotros.jpg");

        /* Set a specific height */

        height: 574px;
        border-radius: $bordeRedondoBot;
        

        /* Create the parallax scrolling effect */

        background-attachment: fixed;

        background-position: center;

        background-repeat: no-repeat;

        background-size: cover;

        position:relative;

        a{
            .nosotros__row__a__imgLogoNosotros{
                position:absolute;
                bottom:1%;
                left:0.5%;
                
            }
        }

    }
    
    
}

/*SECCION NUEVOS*/

/* CARDS DE PRODUCTOS */

.nuevos{
    .nuevos__row{
        border-radius: $bordeRedondoTop;
    }

}

/*SECCION REMERAS HTML*/

/* CARDS DE PRODUCTOS REMERAS*/

.remeras{
    &__row{
        border-radius: $bordeRedondoTop;
    }
}

/*SECCION BUZOS HTML*/

/* CARDS DE PRODUCTOS BUZOS*/

.buzos{
    &__row{
        border-radius: $bordeRedondoTop;
    }
}

/*SECCION ACCSESORIOS HTML*/

/* CARDS DE PRODUCTOS ACCESORIOS*/

.accesorios{
    &__row{
        border-radius: $bordeRedondoTop;
        div{
            .card{
                .card-body{
                    .accesorios__row__div__card__card-body__div--sinTalles{
                        display:flex;
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}

/* ELEMENTO DE PAGINACION ACCSESORIOS*/
.paginacionAccesorios{
    margin-top:30px;
}


/* SECCION CARRITO.HTML ----------------------------------------------------------------*/
.bodyCarrito{
    overflow-x: hidden;
}
.carrito{
    .row{
        div{
            div{
                .carrito__row__div__div__productosCarrito__texto{
                    font-size:1em;
                }
            }
        }
        .carrito__row__tusProductos{
            border-radius: 8px 0 0 0;
            
            
           
        }
        .carrito__row__datosPersonales{
            border-radius: 0 8px 0 0;
            position: relative;
            left:20px;
            
            
           
            
        }
     
        
        
        .carrito__row__confirm{
            margin-top:30px;
            border-radius: $bordeRedondoBot;
        }
        @media only screen and (max-width:991px) {
            
            .carrito__row__tusProductos{
                border-radius:$bordeRedondoTop;
   
            }
            
            .carrito__row__datosPersonales{
                margin-top:30px;
                left:0;
                border-radius: 0;
            }

        }
            
            
               
        div{
            div{
                .carrito__row__div__div__productosCarrito{
                    display:flex;
                    &__img{
                        width:250px;
                        margin-right:10px;
                    }

                }

            }
            .carrito__row__div__pieCarrito{
                text-align:center;
            }
            .carrito__row__div__carritoMediosDePago{
                display:flex;
                div{
                    padding-left:$resetPadding;
                }
            }
        }
        div{
            form{
                .carrito__row__div__form__name--position{
                    display:flex;
                    div{
                        padding:$resetPadding;
                    }
                    .carrito__row__div__form__name__name--margin{
                        padding-right:20px;
                    }
                }
            }
        }
    }
}



/* SECCION CARRITO EN INDEX MODAL */

.modalCarrito{
        padding-right: $resetPadding!important;
    .modalCarrito__margin{
        margin: 0 0 auto auto;   
    }
    div{
        position: relative;
        .buttonXmodalCarrito{
            position:absolute;
            top:1%;
            
            left:225px;
        }
        
        .modalCarrito__div__modalContent{
            padding:20px;
           
        
            div{
                
                

                .modalCarrito__div__modalContent__div__bodyModalCarrito{
                    display:flex;
                    
                   
                   &__imgModalCarrito{
                        max-width:150px;
                        max-height: 150px;
                        margin-right:10px;
                   }
                }
            }
            &__modalCarritoFooter{
                text-align:center;
            }
        }
    }
}


