$tamanioP1:0.8em;
$tamanioP2:18px;
$tamanioPCuadrados:0.7em;
$tamanioH4Cuadrados:21.5px;
$tamanioTitulos1:35px;
$navFontSize:15px;
$letterSpacingSecciones:3px;
$fontWeightSecciones:600;

/* boton de bootstrap */
.btn-primary{
    font-size:14px;
}

/* HEADER */
header{
    .header__nav--fontSize{
        font-size:$navFontSize;
    }
}

/* SECCIONES RECTANGULARES DEL INDEX */
.container{
    .row{
        div{
            a{
                div{
                    .container__row__col__a__div__title--tamanio{
                        font-size:$tamanioTitulos1;
                        letter-spacing: $letterSpacingSecciones;
                        font-weight: $fontWeightSecciones;
                    }
                    .container__row__col__a__div__p--tamanio{
                        font-size:$tamanioP1;
                    }
                }
            }
        }
    }
}
/*CUADRADOS */
.cuadrados{
    .row{
        div{
            div{
                h4{
                    font-size:$tamanioH4Cuadrados;
                }
                .cuadrados__row__div__div__texto--tamanio{
                    font-size:$tamanioPCuadrados;
                }
            }
        }
    }
}

/* SECCION NOSOTROS.HTML */

.nosotros{
    .row.nosotros__row{
        
        .nosotros__row__div__titulo{
            font-size:$tamanioTitulos1;
            letter-spacing: $letterSpacingSecciones;
            font-weight: $fontWeightSecciones;
        }
        .nosotros__row__div__p{
            font-size:$tamanioP1;
        }
    }
    .row.nosotros__textoNosotros{
        font-size: $tamanioP2;
    }
}

/*--------------------------------FOOTER----------------------*/
.footer{
    .row{
        div{
            ul{
                .footer__row__div__ul__pNovedades{
                    font-size:$tamanioPCuadrados;
                    
                }
            }
        }
    }
}